$NAV-LINK-COLOR: #3b475f; // grey blue
$GREY-BLUE: #3b475f; // grey blue
$BLUEBELL: #4e6ee3; // purple blue (alt accent)

$NAV-LINK-ALT-COLOR: #3fb8af; // off-white
$APAHM-TEAL: #3fb8af; // APAHM teal
$SOFT-GREY: #7c8081;
$WHITE-GREY: #f6f8fd;
$OFF-WHITE: #f8f8f8; // used for backgrounds
